<nav>
  <a href="/">
    <h1 style="color: #fff">SPIG</h1>
  </a>
  <div class="spacer"></div>
  <%= if @current_user do %>
    <SpigWeb.Username.username current_user={@current_user} />
    <.link href={~p"/auth/logout"} method="delete">
      Logout
    </.link>
  <% end %>
</nav>

<div class="container">
  <%= @inner_content %>
</div>
