dialog {
    animation: fade-out 0.25s ease-out;
    margin-top: 20vh;
    transition: border-width 0.25s ease-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

dialog[open] {
    animation: fade-in 0.25s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.25s ease-out forwards;
}

dialog h1 {
    margin: 0.25rem;
}

dialog.rainbow {
    animation:
        fade-out 0.25s ease-out,
        rainbow 5s infinite;
    border: 2px solid;
}

dialog[open].rainbow {
    animation:
        fade-in 0.25s ease-out,
        rainbow 5s infinite;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scale(0.95);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 25%);
    }
}

dialog {
    border: solid 1px #494d55;
    background-color: var(--background);
    color: #ffffff;
    min-width: 50vw;
    max-width: 95vw;
}
